
/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


body {
	font-family: sans-serif;
	height: 100%;
}
.wrapper {
	text-align: center;
	height: 100%;
}

#google-logo {

	margin: 200px auto 50px auto;
	width: 40%;

}

.search {
	width:200px;
	height: 30px;
	text-align: center;
}

.menu {

	text-align: right;
	background-color: #1451a7;
	height: 50px;
	line-height: 3em;
}

.menu li {
	display: inline;
	padding-right: 30px;
	color: white;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #1451a7;
	height: 50px;
	width: 100%;
	line-height: 3em;
	color: white;
	display: inline;
}

.footer-l {
	width: 50%;
	text-align: left;
}

.footer-r {
	width: 50%;
	text-align: right;
}
.footer-l li{
	line-height: 3em;
	float: left;
}

.footer-r li{
	line-height: 3em;

	float: right;
}

.footer-l li, .footer-r li {
	display: inline;
}